*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--card-background-color);
    margin:var(--spacings-for-margin-padding);
    padding: var(--spacings-for-margin-padding);
    border-radius: 20px;
}

.container{
    padding: 45px;
    /* --backg-color:aqua; */
    background-color: var(--parent-background-color);
    min-height: 100vh;

}

:root{   /* this is global varriable and 
          it is accessable to all thing  */
    --primary-text-color:red;
    --secondary-text-color:#444;
    --card-background-color: white;
    --parent-background-color:#eee;
    --spacings-for-margin-padding:20px;
}

.dark{
      --primary-text-color:#fff;
    --secondary-text-color:#ddd;
    --card-background-color: #333;
    --parent-background-color:#eee;
}

.box{
    padding: var(--spacings-for-margin-padding);
    background-color: var(--card-background-color);
    margin-block: 20px;
    border-radius: 20px;
}

h2{
    --backg-color:yellow;
    /* background-color: aqua; */
     /* background-color: var(--backg-color); */
     color: var(--primary-text-color);
}

h4{
    padding: 45px;
    /* background-color: aqua; */
    /* background-color: var(--backg-color,pink); */
    color: var(--primary-text-color);
}

p{
    color: var(--secondary-text-color);
}

/* @media(min-width:700px){
    .container{
    --backg-color: red;
    }
} */
