*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid red;
    height: 600px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    /* grid-template-rows: 100px 80px 80px; */
    /* justify-content:center; */
   /* align-content:center; */
   /* gap: 10px; */
}

.box{
    border: 2px solid green;
    margin: 10px;
}


#box-1{
    background-color: rgb(178, 248, 224);
    color: rgb(231, 5, 5);
    /* justify-self: end; */
    /* align-self: center; */
    grid-area:2/1/3/4;

}