main{
    border: 2px solid black;
    border-radius: 25px;
    width: 50%;
    /* vw-view width , vh-view height , px-pixxel , % , em-rem */
}
section{
    border: 5px solid green;
    border-radius: 25px;
    
}
h1{
    font-size: 2em;
}